<form class="form-signin">
  <div class="text-center mb-4">
    <h1 class="h3 mb-3 font-weight-normal">Регистрация</h1>
  </div>

  <div class="form-label-group">
      <input type="email" id="inputEmail" class="form-control" placeholder="Никнейм" required autofocus>
      <label for="inputEmail">Никнейм</label>
  </div>

  <div class="form-label-group">
      <input type="email" id="inputEmail" class="form-control" placeholder="Ваше имя" required autofocus>
      <label for="inputEmail">Ваше имя</label>
  </div>

  <div class="form-label-group">
      <input type="email" id="inputEmail" class="form-control" placeholder="Ваша фамилия" required autofocus>
      <label for="inputEmail">Ваша фамилия</label>
  </div>

  <div class="form-label-group">
    <input type="email" id="inputEmail" class="form-control" placeholder="Адрес почты" required autofocus>
    <label for="inputEmail">Почта</label>
  </div>

  <div class="form-label-group">
    <input type="password" id="inputPassword" class="form-control" placeholder="Пароль" required>
    <label for="inputPassword">Пароль</label>
  </div>

  <div class="form-label-group">
      <input type="password" id="repeatPassword" class="form-control" placeholder="Повторите пароль" required>
      <label for="repeatPassword">Повторите пароль</label>
  </div>

  <button class="btn btn-lg btn-primary btn-block" type="submit">Зарегистрироваться</button>
</form>
